img {
  height: 450px;
  width: 300px;
}

ul, ol {
  padding: 0;
  
}

ol {
  list-style-position: inside;
}

ul {
  list-style-position: inside;
}

.main-heading {
  text-align: center;
}

.recipes{
  text-align: center;
}

.recipes h3 {
  margin: 5px 0 30px;
}
